#container{
    max-width: 1200px;
    margin: 0 auto;
    .detailPage{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10% 0;
        .leftBox{
            width: 400px;
            background-color: #003072;
            color: white;
            padding: 5%;
            border-radius: 10px;
            .btnBox{
                display: flex;
                gap: 20px;
                button{
                    padding: 10px;
                    background-color: #acc2ec;
                    color: #003089;
                    border-radius: 5px;
                    border: none;
                }
            }
        }
        .rightBox{
            img{
                width: 530px;
                border-radius: 10px;
            }
        }
    }
}